<h2>
  Make a new event!
</h2>

<form class="form" action="/new" method="post">
  <label for="Name">Event Name:</label>
  <input type="text" id="Name" name="Name"><br><br>

  <label for="description">Event Description:</label>
  <input type="text" id="description" name="description"><br><br>

  <label for="location">Event Location:</label>
  <input type="text" id="location" name="location"><br><br>

  <input type="submit" value="Make Event!">
</form>
